<!--Navbar -->
<nav class="mb-1 navbar navbar-default sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="/">All Recipe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
      aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
      <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>


        <li class="nav-item down_seafood">
          <a class="nav-link" href="/">Seafood</a>
        </li>
        <div class="down_stuff">
          <div class="seafood_images">
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Shrimps And Calamari Rings" class="editor_pick_anchor">
              <img src="/images/shrimps.jpg" alt="Shrimps" class="seafood1">
                <p class="seafood1_para">Make Delicious Shrimps</p>
                </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Mouth-watering Shrimp Curry" class="editor_pick_anchor">
              <img src="/images/shrimpcurry.jpg" alt="Shrimp Curry" class="seafood1">
              <p class="seafood1_para">Spicy Shrimp Curry</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Lobster Eggs Benedict" class="editor_pick_anchor">
              <img src="/images/egg.jpg" alt="Eggs" class="seafood1">
              <p class="seafood1_para">Lobster Eggs Benedict</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Salmon Bilini with Avocado Cheese" class="editor_pick_anchor">
              <img src="/images/smoked.jpg" alt="smoked" class="seafood1">
              <p class="seafood1_para" style="font-size: 1.1rem;">Salmon Bilini with Avocado Cheese</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Baked Shrimp Cheese Toast" class="editor_pick_anchor">
              <img src="/images/baked.jpg" alt="baked" class="seafood1">
              <p class="seafood1_para">Baked Shrimp Cheese Toast</p>
              </a>
            </div>
          </div>
        </div>
        <li class="nav-item down_chicken">
          <a class="nav-link" href="/">Chicken</a>
        </li>
        <div class="down_stuff">
          <div class="seafood_images">
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Butter Chicken" class="editor_pick_anchor">
              <img src="/images/ButterChicken.jpg" alt="ButterChicken" class="seafood1">
              <p class="seafood1_para">Indian Style Butter Chicken</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Chicken Cordon Bleu" class="editor_pick_anchor">
              <img src="/images/ChickenCordon.jpeg" alt="ChickenCordon" class="seafood1">
              <p class="seafood1_para">Exotic Chicken Cordon</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Rosemary Ranch Chicken Kababs" class="editor_pick_anchor">
              <img src="/images/ChickenKabab.jpeg" alt="ChickenKabab" class="seafood1">
              <p class="seafood1_para">Divine Chicken Kabab</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Chicken Makhani" class="editor_pick_anchor">
              <img src="/images/chickenmakhani.jpeg" alt="chickenmakhani" class="seafood1">
              <p class="seafood1_para" style="font-size: 1.1rem;">Chicken Makhani</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Roasted Chicken with Lemon Salad" class="editor_pick_anchor">
              <img src="/images/RoastedChicken.jpg" alt="chickentaco" class="seafood1">
              <p class="seafood1_para">Roasted Chicken With Lemon</p>
              </a>
            </div>
          </div>
        </div>
        <li class="nav-item down_vegetarian">
          <a class="nav-link" href="/">Vegetarian</a>
        </li>
        <div class="down_stuff_veg">
          <div class="seafood_images">
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Butternut Squash with Chickpeas" class="editor_pick_anchor">
              <img src="/images/vegan2.jpg" alt="Vegan2" class="seafood1">
              <p class="seafood1_para">Stuffed Butternut Squash with Chickpeas</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Ramen Noodle And Special Vegetable Soup" class="editor_pick_anchor">
              <img src="/images/vegan3.jpg" alt="Vegan3" class="seafood1">
              <p class="seafood1_para">Ramen Noodle And Special Vegetable Soup</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Butternut Squash and Beans Curry" class="editor_pick_anchor">
              <img src="/images/vegan4.jpg" alt="Vegan4" class="seafood1">
              <p class="seafood1_para">Butternut Squash And Beans Curry</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Breaded Tofu Bites with a Ginger Peanut" class="editor_pick_anchor">
              <img src="/images/vegan5.jpg" alt="Vegan5" class="seafood1">
              <p class="seafood1_para" style="font-size: 1.1rem;">Breaded Tofu Bites With a Ginger Peanut</p>
              </a>
            </div>
            <div class="seafood_img_content">
              <a href="/users/show_recipe/Vegan Soba Noodle with Carrots, Shitake Mushrooms" class="editor_pick_anchor">
              <img src="/images/vegan6.jpg" alt="Vegan6" class="seafood1">
              <p class="seafood1_para">Vegan Soba Noodle with Carrots, Shitake Mushrooms</p>
              </a>
            </div>
          </div>
        </div>


        <li class="nav-item">
          <a class="nav-link" href="/favorites/<%=user.id%>">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/my_recipe/<%= user.id%>">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/add_recipe">Add Recipe</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35">
          </a>
        </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mr-4">
          <form class="form-inline" method="POST" action="/users/search">
          <div class="md-form my-n2">
            <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
            <button type="submit" style="background: transparent; border: none;">
              <i class="fas fa-search" aria-hidden="true" style="color: blue;margin-right:0.5rem;margin-top: 1rem;"></i>
            </button>
          </div>
        </form>
      </li>
        <li class="nav-item mr-3 mt-2"><a style="text-decoration: none;" href="/users/profile/<%= user.id%>"><!--<input type="image" src="<%= user.avatar%>" class="profile_image_navbar" id="profilepic">-->Hello, <%= user.name%></a></li>
        <li class="nav-item mr-1 mt-1"><a type="button" href="/users/signout" class="btn-sm btn-outline-dark"> Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->