<div class="container-fluid">
    <% if(locals.user){%>
            <section>
                <div class="heading-div">
                    <h2>Here are some of our favorites... </h2>
                    <h6 class="cookingline">Explore the best of cooking with these top-rated recipes</h6>
                    <h2 class="happycooking">Happy Cooking!!!</h2><br>
                </div>
            
            <div class="row row-cols-4 row-cols-md-4">
                <div class="col mb-4">
                  <!-- Card1 -->
                  <div class="card" id="card1">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/casserole.jpeg"alt="Casserole">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" href="/favorites/create/casserole" class="btn-floating btn-lg"><i  class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Casserole</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/users/show_recipe/casserole" type="button" class="btn btn-light-blue btn-md">Read Recipe</a>
                    </div>
                  </div>
                  <!-- Card1 ends -->
                </div>

                <div class="col mb-4">
                  <!-- Card2 -->
                  <div class="card" id="card2">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/ChocolateCake.jpeg"
                        alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i  class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Chocolate Cake</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                    </div>
                  </div>
                  <!-- Card2 ends -->
                </div>

                <div class="col mb-4">
                  <!-- Card3 -->
                  <div class="card" id="card3">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/tacos.jpg"
                        alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Fish Tacos</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                    </div>
              
                  </div>
                  <!-- Card3 ends -->
                </div>

                <div class="col mb-4">
                  <!-- Card4 -->
                  <div class="card" id="card4">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/teriyaki.jpeg"
                        alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Chicken Teriyaki</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
              
                    </div>
                </div>
                  </div>
                  <!-- Card4 ends -->

                  <div class="col mb-4">
                  <!--Card5-->
                  <div class="card" id="card5">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/CheeseCake.jpeg" alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Cheese Cake</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
              
                    </div>
              
                  </div>
                  </div>
                  <!-- Card5 ends -->

                  <div class="col mb-4">
                  <!--Card6-->
                  <div class="card" id="card6">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/ChickenCordon.jpeg"
                        alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
              
                    <div class="card-body">
                      <h4 class="card-title">Chicken Cordon</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
              
                    </div>
              
                  </div>
                  </div>
                  <!-- Card6 ends -->

                  <div class="col mb-4">
                  <!--Card7-->
                  <div class="card" id="card7">
              
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/ChickenKabab.jpeg"
                        alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
              
                    <div class="card-body">
                      <h4 class="card-title">Chicken Kabab</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
              
                    </div>
              
                  </div>
                  </div>
                  <!-- Card7 ends -->

                  <div class="col mb-4">
                  <!--Card8-->
                  <div class="card" id="card8">
                    <div class="view overlay">
                      <img class="card-img-top" src="/images/chickenmakhani.jpeg" alt="Card image cap">
                      <!-- <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a> -->
                      <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                    </div>
            
                    <div class="card-body">
                      <h4 class="card-title">Chicken Makhani</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
              
                    </div>
              
                  </div>
                  </div>
                  </div>
                  <!-- Card8 ends -->
                  </section>

<!-- ------------------------------------ 1st section end --------------------------------------------- -->

                  <section>
                    <div class="heading-div">
                        <h2>Want to eat something spicy, like reallyyy spicyyyyy... <img src="/images/Chilipepper.png" class="chilli"></h2>  
                        <h6 class="cookingline2">Don't worry we got your back, Here's our selected Spicy Indian Food</h6>
                        <h2 class="happycooking2">Happy Cooking!!!</h2><br>
                    </div>

                <div class="row row-cols-4 row-cols-md-4">
                      <div class="col mb-4">
                      <!--Card9-->
                      <div class="card" id="card9">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/Cholay.jpeg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Cholay</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                  
                        </div>
                  
                      </div>
                      </div>
                      <!-- Card9 ends -->
    
                      <div class="col mb-4">
                      <!--Card10-->
                      <div class="card" id="card10">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/CucumberRaita.jpg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Cucumber Raita</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card10 ends -->
    
                      <div class="col mb-4">
                      <!--Card11-->
                      <div class="card" id="card11">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/haldikadoodh.jpg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                          <h4 class="card-title">Haldi Ka Doodh</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card11 ends -->
    
                      <div class="col mb-4">
                      <!--Card12-->
                      <div class="card" id="card12">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/keemaAloo.jpeg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Keema Aloo</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card12 ends -->
    
                      <div class="col mb-4">
                      <!--Card13-->
                      <div class="card" id="card13">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/mangolassi.jpg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                          <h4 class="card-title">Mango Lassi</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card13 ends -->
    
                      <div class="col mb-4">
                      <!--Card14-->
                      <div class="card" id="card14">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/MasoorDal.jpg" alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Masoor Dal</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card14 ends -->
    
                      <div class="col mb-4">
                      <!--Card15-->
                      <div class="card" id="card15">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/muffin.jpeg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Blueberry Muffin</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card15 ends -->
    
                      <div class="col mb-4">
                      <!--Card16-->
                      <div class="card" id="card16">
                        <div class="view overlay">
                          <img class="card-img-top" src="/images/PalakPaneer.jpeg"
                            alt="Card image cap">
                          <!-- <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a> -->
                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                        </div>
                  
                        <!--Card content-->
                        <div class="card-body">
                          <h4 class="card-title">Palak Paneer</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        </div>
                      </div>
                      </div>
                      <!-- Card16 ends -->
                </div>
                      </section>
<!-- -------------------------------Second Section ends------------------------------------------------- -->

                      <section>
                        <div class="heading-div">
                            <h2>Want a healthy breakfast or a tasty lunch... </h2>
                            <h6 class="cookingline">Let's give everything a twist of taste with your own magical hands</h6>
                            <h2 class="happycooking">Happy Cooking!!!</h2><br>
                        </div>
                        <div class="row row-cols-4 row-cols-md-4">
                        <div class="col mb-4">
                            <!--Card17-->
                            <div class="card" id="card17">
                        
                              <!--Card image-->
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/pancake.jpg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <!--Card content-->
                              <div class="card-body">
                        
                                <!--Title-->
                                <h4 class="card-title">Pancakes</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                  card's content.</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card17 ends -->
          
                            <div class="col mb-4">
                            <!--Card18-->
                            <div class="card" id="card18">
                        
                              <!--Card image-->
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/shrimpcurry.jpg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <!--Card content-->
                              <div class="card-body">
                        
                                <!--Title-->
                                <h4 class="card-title">Shrimp Curry</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                  card's content.</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card18 ends -->
          
                            <div class="col mb-4">
                            <!--Card19-->
                            <div class="card" id="card19">
                        
                              <!--Card image-->
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/SpinachQuiche.jpeg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <!--Card content-->
                              <div class="card-body">
                        
                                <!--Title-->
                                <h4 class="card-title">Spinach Quiche</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                  card's content.</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card19 ends -->
          
                            <div class="col mb-4">
                            <!--Card20-->
                            <div class="card" id="card20">
                        
                              <!--Card image-->
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/TurkeySausage.jpg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <!--Card content-->
                              <div class="card-body">
                        
                                <!--Title-->
                                <h4 class="card-title">Turkey Sausage</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                  card's content.</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card20 ends -->
                            <% for (r of recipe){%> 
                            <div class="col mb-4">
                            <!-- Dynamic Card Begins -->
                            <div class="card" id="card_dynamic">
                        
                              <!--Card image-->
                              <div class="view overlay">
                                <img class="card-img-top" src="<%=r.photo%>" onerror=this.src="/images/getImage.jpeg">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" href="/favorites/create/<%=r.name%>" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <!--Card content-->
                              <div class="card-body">
                        
                                <!--Title-->
                                <h4 class="card-title"><%= r.name%></h4>
                                <!--Text-->
                                <p class="card-text"><%= r.description%></p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <a href="/users/show_recipe/<%= r.name%>" type="button" class="btn btn-light-blue btn-md">Read Recipe</a>
                        
                              </div>
                        
                            </div>
                            </div>
                            <%}%>
                            <!-- Dynamic Card Ends -->
                          </div>
                        <!-- <h3 style="text-align: center;">Want to See Some More?? <a href="/users/signup" class="click_anchor"> Click Here <i class="fa fa-angle-double-right motion"></i></a></h3> -->
                        </div>
                      </section>

                      
                      
<!-- ----------------------------------------if User is not signed in --------------------------------- -->




                      <%} else {%>
                        <section>
                          <div class="heading-div">
                              <h2>Here are some of our favorites... </h2>
                              <h6 class="cookingline">Explore the best of cooking with these top-rated recipes</h6>
                              <h2 class="happycooking">Happy Cooking!!!</h2><br>
                          </div>
                      
                      <div class="row row-cols-4 row-cols-md-4">
                          <div class="col mb-4">
                            <!-- Card1 -->
                            <div class="card" id="card1">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/casserole.jpeg"alt="Casserole">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                              <div class="card-body">
                                <h4 class="card-title">Casserole</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/users/show_recipe/casserole" type="button" class="btn btn-light-blue btn-md">Read Recipe</a>
                              </div>
                            </div>
                            <!-- Card1 ends -->
                          </div>
          
                          <div class="col mb-4">
                            <!-- Card2 -->
                            <div class="card" id="card2">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/ChocolateCake.jpeg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                              <div class="card-body">
                                <h4 class="card-title">Chocolate Cake</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                              </div>
                            </div>
                            <!-- Card2 ends -->
                          </div>
          
                          <div class="col mb-4">
                            <!-- Card3 -->
                            <div class="card" id="card3">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/tacos.jpg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                              <div class="card-body">
                                <h4 class="card-title">Fish Tacos</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                              </div>
                        
                            </div>
                            <!-- Card3 ends -->
                          </div>
          
                          <div class="col mb-4">
                            <!-- Card4 -->
                            <div class="card" id="card4">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/teriyaki.jpeg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                              <div class="card-body">
                                <h4 class="card-title">Chicken Teriyaki</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                          </div>
                            </div>
                            <!-- Card4 ends -->
          
                            <div class="col mb-4">
                            <!--Card5-->
                            <div class="card" id="card5">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/CheeseCake.jpeg" alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
          
                              <div class="card-body">
                                <h4 class="card-title">Cheese Cake</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card5 ends -->
          
                            <div class="col mb-4">
                            <!--Card6-->
                            <div class="card" id="card6">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/ChickenCordon.jpeg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <div class="card-body">
                                <h4 class="card-title">Chicken Cordon</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card6 ends -->
          
                            <div class="col mb-4">
                            <!--Card7-->
                            <div class="card" id="card7">
                        
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/ChickenKabab.jpeg"
                                  alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                        
                              <div class="card-body">
                                <h4 class="card-title">Chicken Kabab</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            <!-- Card7 ends -->
          
                            <div class="col mb-4">
                            <!--Card8-->
                            <div class="card" id="card8">
                              <div class="view overlay">
                                <img class="card-img-top" src="/images/chickenmakhani.jpeg" alt="Card image cap">
                                <!-- <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a> -->
                                <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                              </div>
                      
                              <div class="card-body">
                                <h4 class="card-title">Chicken Makhani</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                               <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                        
                              </div>
                        
                            </div>
                            </div>
                            </div>
                            <!-- Card8 ends -->
                            </section>
          
          <!-- ------------------------------------ 1st section end --------------------------------------------- -->
          
                            <section>
                              <div class="heading-div">
                                  <h2>Want to eat something spicy, like reallyyy spicyyyyy... <img src="/images/Chilipepper.png" class="chilli"></h2>  
                                  <h6 class="cookingline2">Don't worry we got your back, Here's our selected Spicy Indian Food</h6>
                                  <h2 class="happycooking2">Happy Cooking!!!</h2><br>
                              </div>
          
                          <div class="row row-cols-4 row-cols-md-4">
                                <div class="col mb-4">
                                <!--Card9-->
                                <div class="card" id="card9">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/Cholay.jpeg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Cholay</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                            
                                  </div>
                            
                                </div>
                                </div>
                                <!-- Card9 ends -->
              
                                <div class="col mb-4">
                                <!--Card10-->
                                <div class="card" id="card10">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/CucumberRaita.jpg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Cucumber Raita</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card10 ends -->
              
                                <div class="col mb-4">
                                <!--Card11-->
                                <div class="card" id="card11">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/haldikadoodh.jpg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <!--Card content-->
                                  <div class="card-body">
                                    <h4 class="card-title">Haldi Ka Doodh</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card11 ends -->
              
                                <div class="col mb-4">
                                <!--Card12-->
                                <div class="card" id="card12">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/keemaAloo.jpeg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Keema Aloo</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card12 ends -->
              
                                <div class="col mb-4">
                                <!--Card13-->
                                <div class="card" id="card13">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/mangolassi.jpg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <!--Card content-->
                                  <div class="card-body">
                                    <h4 class="card-title">Mango Lassi</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card13 ends -->
              
                                <div class="col mb-4">
                                <!--Card14-->
                                <div class="card" id="card14">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/MasoorDal.jpg" alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Masoor Dal</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card14 ends -->
              
                                <div class="col mb-4">
                                <!--Card15-->
                                <div class="card" id="card15">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/muffin.jpeg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Blueberry Muffin</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card15 ends -->
              
                                <div class="col mb-4">
                                <!--Card16-->
                                <div class="card" id="card16">
                                  <div class="view overlay">
                                    <img class="card-img-top" src="/images/PalakPaneer.jpeg"
                                      alt="Card image cap">
                                    <!-- <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                    <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                  </div>
                            
                                  <!--Card content-->
                                  <div class="card-body">
                                    <h4 class="card-title">Palak Paneer</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                                    <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  </div>
                                </div>
                                </div>
                                <!-- Card16 ends -->
                          </div>
                                </section>
          <!-- -------------------------------Second Section ends------------------------------------------------- -->
          
                                <section>
                                  <div class="heading-div">
                                      <h2>Want a healthy breakfast or a tasty lunch... </h2>
                                      <h6 class="cookingline">Let's give everything a twist of taste with your own magical hands</h6>
                                      <h2 class="happycooking">Happy Cooking!!!</h2><br>
                                  </div>
                                  <div class="row row-cols-4 row-cols-md-4">
                                  <div class="col mb-4">
                                      <!--Card17-->
                                      <div class="card" id="card17">
                                  
                                        <!--Card image-->
                                        <div class="view overlay">
                                          <img class="card-img-top" src="/images/pancake.jpg"
                                            alt="Card image cap">
                                          <!-- <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a> -->
                                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                        </div>
                                  
                                        <!--Card content-->
                                        <div class="card-body">
                                  
                                          <!--Title-->
                                          <h4 class="card-title">Pancakes</h4>
                                          <!--Text-->
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                            card's content.</p>
                                          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  
                                        </div>
                                  
                                      </div>
                                      </div>
                                      <!-- Card17 ends -->
                    
                                      <div class="col mb-4">
                                      <!--Card18-->
                                      <div class="card" id="card18">
                                  
                                        <!--Card image-->
                                        <div class="view overlay">
                                          <img class="card-img-top" src="/images/shrimpcurry.jpg"
                                            alt="Card image cap">
                                          <!-- <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a> -->
                                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                        </div>
                                  
                                        <!--Card content-->
                                        <div class="card-body">
                                  
                                          <!--Title-->
                                          <h4 class="card-title">Shrimp Curry</h4>
                                          <!--Text-->
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                            card's content.</p>
                                          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  
                                        </div>
                                  
                                      </div>
                                      </div>
                                      <!-- Card18 ends -->
                    
                                      <div class="col mb-4">
                                      <!--Card19-->
                                      <div class="card" id="card19">
                                  
                                        <!--Card image-->
                                        <div class="view overlay">
                                          <img class="card-img-top" src="/images/SpinachQuiche.jpeg"
                                            alt="Card image cap">
                                          <!-- <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a> -->
                                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                        </div>
                                  
                                        <!--Card content-->
                                        <div class="card-body">
                                  
                                          <!--Title-->
                                          <h4 class="card-title">Spinach Quiche</h4>
                                          <!--Text-->
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                            card's content.</p>
                                          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  
                                        </div>
                                  
                                      </div>
                                      </div>
                                      <!-- Card19 ends -->
                    
                                      <div class="col mb-4">
                                      <!--Card20-->
                                      <div class="card" id="card20">
                                  
                                        <!--Card image-->
                                        <div class="view overlay">
                                          <img class="card-img-top" src="/images/TurkeySausage.jpg"
                                            alt="Card image cap">
                                          <!-- <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a> -->
                                          <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart heart_icon black_icon" aria-hidden="true" style="font-size: 30px;"></i></a>
                                        </div>
                                  
                                        <!--Card content-->
                                        <div class="card-body">
                                  
                                          <!--Title-->
                                          <h4 class="card-title">Turkey Sausage</h4>
                                          <!--Text-->
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                            card's content.</p>
                                          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                          <button type="button" class="btn btn-light-blue btn-md">Read Recipe</button>
                                  
                                        </div>
                                  
                                      </div>
                                      </div>
                                      <!-- Card20 ends -->
                                      <!-- <% for (r of recipe){%> 
                                      <div class="col mb-4"> -->
                                      <!-- Dynamic Card Begins -->
                                      <!-- <div class="card" id="card_dynamic"> -->
                                  
                                        <!--Card image-->
                                        <!-- <div class="view overlay">
                                          <img class="card-img-top" src=""
                                            alt="Card image cap"> -->
                                          <!-- <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                          </a> -->
                                          <!-- <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart" aria-hidden="true" style="font-size: 30px;"></i></a>
                                        </div> -->
                                  
                                        <!--Card content-->
                                        <!-- <div class="card-body"> -->
                                  
                                          <!--Title-->
                                          <!-- <h4 class="card-title"><%= r.name%></h4> -->
                                          <!--Text-->
                                          <!-- <p class="card-text"><%= r.description%></p> -->
                                          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                          <!-- <a href="/users/show_recipe/<%= r.name%>" type="button" class="btn btn-light-blue btn-md">Read Recipe</a>
                                  
                                        </div> -->
                                  
                                      <!-- </div> -->
                                      <!-- </div> -->
                                      <!-- <%}%> -->
                                      <!-- Dynamic Card Ends -->
                                    <!-- </div> -->
                                  </div>
                                  <h3 style="text-align: center;">Want to See Some More?? <a href="/users/signup" class="click_anchor"> Click Here <i class="fa fa-angle-double-right motion"></i></a></h3>
                                  
                                </section>
                        <%}%>
        </div>
